Task 1

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.datasets import load_boston
boston = load_boston()

In [ ]:
data = boston.data

In [ ]:
target = boston.target

In [ ]:
feature_names = boston.feature_names

In [ ]:
X = pd.DataFrame(data, columns=feature_names)

In [ ]:
y = pd.DataFrame(target, columns=['price'])

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
lr = LinearRegression()

In [ ]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
y_pred = lr.predict(X_test)

In [ ]:
check_test = pd.DataFrame({'y_test': y_test['price'], 'y_pred':y_pred.flatten()}, columns=['y_test', 'y_pred'])

In [ ]:
check_test.head(10)

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280
76     20.0  23.146689
316    17.8  17.392124
140    14.0  14.078599
471    19.6  23.036927
500    16.8  20.599433

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(y_test, y_pred)

0.7112260057484974

Task 2

In [ ]:
from sklearn.ensemble import RandomForestRegressor

In [ ]:
clf = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [ ]:
clf.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [ ]:
y_pred_clf = clf.predict(X_test)
check_test_clf = pd.DataFrame({
    "y_test": y_test["price"], 
    "y_pred_clf": y_pred_clf.flatten()})

In [ ]:
check_test_clf.head()

     y_test  y_pred_clf
173    23.6   22.846138
274    32.4   31.156114
491    13.6   16.297226
72     22.8   23.821036
452    16.1   17.212148

In [ ]:
r2_score(y_test, y_pred_clf)

0.8749965273218174

In [ ]:
print((r2_score(y_test, y_pred)), (r2_score(y_test, y_pred_clf)))

0.7112260057484974 0.8749965273218174